In [2]:
# formula will be : price = m1 * area + m2 * bedrooms + m3 * age + b 
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [7]:
df  =  pd.read_csv('multiple_house_data.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
# How to resolve NaN value. you can give it a value 0 or use median to find it.
import math
df.bedrooms.median()

4.0

In [14]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median()) # fillna fills the NaN values with the given in the brackets
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
model = linear_model.LinearRegression()

In [19]:

model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [48]:
# predicted = model.predict([[3000,3,40]])
predicted = model.predict([[3000,3,10]])
print(float(predicted))

595359.7888392959