In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]],columns=['a','b','c','d'])

In [7]:
df.head()

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [8]:
df.to_csv('export.csv',index=False)